html,
body {
    background-color: gainsboro;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #000;
    color: #fff;
}

.logo {
    height: 100px;
    width: 100px;
}

main {
    margin: 25px 0;
}

.project {
    margin: 15px;
    padding: 5px;
}

.button {
    margin-bottom: 20px;
}

.add-project {
    margin: auto;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 25px 0;
    text-align: center;
}

footer .copyright {
    font-size: 10px;
    margin: auto;
}
